* {
	padding: 0px;
	margin: 0px;
	font-family: "Times New Roman"
}

h1 {
	font-size: 50px;
	padding: 20px;
	display: block;
}

body {
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

#playname {
	z-index: 5;
}

#fullpage {
	padding: 50px 0;
	text-align: center;
}

#stage {
	position: relative;
}

#contents {
	font-size: 25px;
}

#charDiv {
	padding-top: 40px;
	position: absolute;
	width: 300px;
	height: 400px;
}

#charName {
	font-style: italic;
}

#rockmeter_container_div {
	position: fixed;
	display: ;
	right: 500px;
	bottom: 240px;
}

#score {
	position: absolute;
	top: -60px;
	width: 290px;
	background: white;
	border: 1px solid black;
	opacity: .4;
	font-size: 45px;
	font-style: bold;
	text-align: center;
}

#playname {
	background: white;
	border: 1px solid black;
	opacity: .6;
}

#charname {
	background: white;
	border: 1px solid black;
	opacity: .4;
}

#line_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#curtain {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 10;
}

#curtain img {
	padding: 0px;
	width: 50%;
	height: 100%;
}

#curtain_left {
	left: 0px;
	width: 50%;
	position: absolute;
}

#curtain_right {
	right: 0px;
	width: 50%;
	position: absolute;
}

#curtain_top {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	z-index: 4;
}

#curtain_top img {
	width: 100%;
	height: 200px;
}

#line_information {
	padding: 4px;
	background-color: white;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	text-align: center;
	bottom: 100px;
	max-width: 600px;
}

#helpbar {
	position: absolute;
	bottom: 0px;
	padding: 5px;
}
